:root {
  --card-height: 15vw;
  --card-width: 15vw; /* Adjusted width for two containers per row */
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #111319;
}
header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)); /* Gradient background */
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap; /* Allow containers to wrap to the next row */
  justify-content: left; /* Center the containers horizontally */
  align-items: flex-start; /* Align containers to the top */
  padding: 20px;
  flex: 1 0 auto;
}

footer {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
  color: #fff;
  padding: 20px;
  flex-shrink: 0;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 0px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.0s ease;
  position: relative;
  display: inline-block;
  outline: none;
  font-size: 22px;
}
/* 7 */
.btn-7 {
background: linear-gradient(0deg, #5865F2 0%, #4855C2 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #5865F2;
  transition: all 0.3s ease;
}
.btn-7:before{
   height: 0%;
   width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover{
  color: #5865F2;
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #5865F2;
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}
.card-link {
  display: flex;
  justify-content: left;
  width: 30%; /* Adjusted width for two containers per row */
  align-items: left;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(235 237 244 / 15%);
  width: var(--card-width);
  height: var(--card-height);
  padding: 4px;
  position: relative;
  border-radius: 6px;
  text-align: center;
  font-size: 1.4em;
  cursor: pointer;
  margin: 4.2%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid grey;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
  font-weight: bold;
  color: #5865F2;
  text-shadow: 0 0 3px #000;
  text-transform: uppercase;
  flex-direction: column;
}

.card .text {
  position: absolute;
  margin-top: 100px;
}

.card:hover {
  opacity: 0.5;
  transition: 0.5s;
  border: 1px solid white;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}
a {
  text-decoration: none;
}

.card-container {
  display: flex;
  justify-content: left !important;
  align-items: left !important;
  flex-wrap: wrap;
  margin-top: 1.5%;
  margin-left: 2%;
  gap: 3.1%; /* Adjusted gap for two containers per row */
  width: 48%; /* Adjusted width for two containers per row */
}
.cardlibrary{
  color: #4B91C5;
  text-shadow: 0 0 5px blue;
}
@media screen and (max-width: 1200px) {
  body {
    font-size: 18px;
  }
  .card{
    font-size: 15px;
    font-weight: normal;
    text-stroke: 0px black;
    -webkit-text-stroke: 0px black; /* For better browser compatibility */
    text-shadow: 0 0 0px purple;
    font-weight: bold;
    color: #fff;
  }
  :root {
    --card-height: 20vw;
    --card-width: 20vw;
  }
  .custom-btn {
    width: 120px;
    height: 45px;
    align-self: center;
    align-items: center;
    align-content: center;
    font-size: 24px;
    margin-bottom: 3%;
    }
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 4%;
    gap: 2%; /* Adjusted gap for two containers per row */
    width: 96%; /* Adjusted width for two containers per row */
    color: #5865F2;
  }
  .cardlibrary{
    font-weight: bold;
    color: #5Ed5FF;
  }
}
