:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}
a{
  color:rgba(50,137,253,1);
}
body {
  white-space: normal;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F8FCF9;
  color: #000;
  max-width: 100%;

}

img {
  max-width: 100%;
  height: auto;
  max-height: 1000px;
  min-height: 200px;
  display: block; /* Ensure the image behaves as a block element */
  margin: 0 auto; /* Center the image horizontally */
}
header {
  background-image: linear-gradient(to bottom, rgba(190, 214, 200, 0.8), rgba(0, 0, 0, 0.0)); /* Gradient background */
  color: #000;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

main {
  white-space: normal;
  flex: 1 0 auto;
  text-indent: -1em !important;
}

footer {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
  color: #000;
  padding: 20px;
  flex-shrink: 0;
}
blockquote {
    position: left;
    padding: 30px 30px 30px 80px;
    align-self: flex-start;
    align-items: : flex-start;
    align-content: flex-start;
    color: #000;
    font: normal 1em/1.2 'PT Serif', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    background: #8FAE93;
    border-left: 10px solid #374;
    border-radius: 7px;
    display: block;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    box-shadow: 0px 0px 10px 0px #8FAE93;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 0px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.0s ease;
  position: relative;
  display: inline-block;
  outline: none;
  font-size: 22px;
}
/* 7 */
.btn-7 {
background: linear-gradient(0deg, #8FAE93 0%, #8FAE93 100%);
  box-shadow: 0 0 10px 0px #8FAE93;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #7e928a;
  transition: all 0.3s ease;
}
.btn-7:before{
   height: 0%;
   width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover{
  color: #7e928a;
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #7e928a;
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}
a {
  text-decoration: none;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.2%;
  width: 100%;
}
.text {
  word-wrap: break-word;
  display: block;
  margin: 0; /* Removes any margin around paragraphs */
  padding-left: 100px;
  padding-right: 140px; /* Removes any padding around paragraphs */
  text-indent: 0; /* Removes any text indentation */
  white-space: pre-line; /* Resets white-space property to default, removing any extra spaces */
}
@media screen and (min-width: 1200px) {
  .text{
    background-color: #C6D6C8;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border: 2px solid #C6D6C8;
    box-shadow: 0 0 50px 3px rgba(198, 214, 200, 0.80);
    border-radius: 0px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 28px;
    background-color: #C6D6C8;
  }
  :root {
    --card-height: 24vh;
    --card-width: 35vh;
  }
  .custom-btn {
    width: 120px;
    height: 45px;
    align-self: center;
    align-items: center;
    align-content: center;
    font-size: 24px;
    }
  .text{
    padding-left: 100px;
    padding-right: 50px; /* Removes any padding around paragraphs */
  }
}
